{
    "Windows": [
        {
            "width": 1280,
            "height": 720,
            "position": "center",
            "name": "MainWindow",
            "title": "Testenv Main Window",
            "fullscreen": false
        }
    ],
    "SystemConfigs": [
        {
            "name": "Config",
            "config": {
                "ApplicationName": "C3DEngine Testenv",
                "FrameAllocatorSize": 16, # Size in MebiBytes
                "AssetBasePath": "../../../game.testenv/assets",
                "TestMesh": "buddha"
            }
        },
        {
            "name": "Renderer",
            "config": {
                "Backend": "C3DVulkanRenderer",
                "Vsync": false,
                "PowerSaving": true,
                "ValidationLayers": true,
                "PCF": true
            }
        },
        {
            "name": "Job",
            "config": {
                "ThreadCount": 15 # Total number of threads - 1
            }
        }
    ]
}